.rtop, .rbottom{
   display: block;
   background: transparent;
}
.mtop, .mbottom{
   display: block;
   background: transparent;
}

.mtop .r1, .mtop .r2, .mtop .r3, .mtop .r4,
.mbottom .r1, .mbottom .r2, .mbottom .r3, .mbottom .r4{
   display: block;
   height: 1px;
   overflow: hidden;
   background: #1c303d;
}

.rtop .r1, .rtop .r2, .rtop .r3, .rtop .r4,
.rbottom .r1, .rbottom .r2, .rbottom .r3, .rbottom .r4{
   display: block;
   height: 1px;
   overflow: hidden;
   background: #161c20;
}

.r1{margin: 0 5px;}

.r2{margin: 0 3px;}

.r3{margin: 0 2px;}

.rtop .r4, .rbottom .r4{
   margin: 0 1px;
   height: 2px;
}

.content{   
   color:#fff;
}

body
{
  margin-top: 50px;
  background-color: #101010;
  color:#FAEDDC;
}

.header{
   width: 950px;
   height: 240px; 
}